extends layout

block content
    .site-wrapper
      .cover-container
          .jumbotron
            h1
              | James Joosung Lee
            .col-md-7
              p
                | Hi! I'm James, a 4th year studying computer science at the University of Virginia. 
              p
                | I'm a software engineer intern at 
                a(href='http://www.teralogics.com/') TeraLogics
                |  in Ashburn, Virginia.
              p
                | I spend the majority of my free time reading 
                a(href='http://stackoverflow.com/') Stack Overflow
                | , browsing 
                a(href='http://reddit.com') Reddit
                | , and brainstorming new ideas for development.
              p
                | Aside from programming, I like playing tennis, attending eSports events, and discovering new bites.
            .col-md-5
              p
                img(class="roundImg" src="/images/me+funnelcakes.png" alt="James Lee")
          .mastfoot
            .social
              a.link.linkedin(href='http://linkedin.com/in/jamesjlee8', target='_parent')
                  span.fa.fa-linkedin
              a.link.twitter(href='https://twitter.com/jamesjlee8', target='_parent')
                  span.fa.fa-twitter
              a.link.google-plus(href='https://plus.google.com/113502061889985148153', target='_parent')
                  span.fa.fa-google-plus-square
              a.link.github(href='https://github.com/jamesjlee', target='_parent')
                  span.fa.fa-github
              a.link.download(href='https://drive.google.com/file/d/0Byx3CHdqtZ8qMWl0Rm5ibHVzNnM/edit?usp=sharing', target='_parent')
                  span.fa.fa-download
            .inner
                p 
                | Created by James Lee
    //
       Bootstrap core JavaScript
          ================================================== 
    // Placed at the end of the document so the pages load faster
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-52570413-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');