doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="My personal website")
    meta(name="author", content="James Lee")
    title= title
    // Bootstrap core CSS
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    // Custom styles and IE work around
    link(href="/stylesheets/style.css", rel="stylesheet")
    script(src="/javascripts/ie-emulation-modes-warning.js")
    script(src="/javascripts/ie10-viewport-bug-workaround.js")
  body
    block content
